.debug * {
    background-color: rgba(255, 0, 0, 0.3);
    border: 1px solid red;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(0, 0, 0);
    opacity: 0.8; /* Firefox */
}

._bg-personal-1 {
    background-color: #e5e5e5;
}

._bg-personal-2 {
    background-color: #165bba;
}

._simple-list {
    list-style-type: none;
    padding-inline-start: 0;
}

.offcanvas._offcanvas-personal {
    width: 100%;
}

.class-avatar {
    width: 30px;
}

body {
    background-color: #f8f9fa;
}

a {
    color: inherit;
    text-decoration: none;
}

#search-bar {
    height: 70px;
}

main {
     height: calc(100vh - 70px);
}

main nav {
    background-image: url("../img/sidebar-bg.png");
    width: 70px;
}

main #main-inner {
    width: calc(100% - 70px);
}

@media screen and (min-width: 992px) {
    .offcanvas._offcanvas-personal {
        width: 40%;
    }

    main nav {
        background-image: url("../img/sidebar-bg.png");
        width: 150px;
    }

    main #main-inner {
        width: calc(100% - 150px);
    }
}